@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap%27');
Button
{
    -fx-background-color: darkorange ;
    -fx-text-fill: black ;
    -fx-border-color: black;
-fx-font-family: 'Bebas Neue', cursive;
    -fx-font-size: 16px;
}

.choice-box {
    -fx-background-color: black;
    -fx-mark-color: darkorange; // arrow color
}
.choice-box .context-menu { -fx-background-color: black; }
.choice-box .menu-item:focused { -fx-background-color: orange; }
.choice-box .menu-item > .label { -fx-text-fill: white; }
.choice-box .menu-item:focused > .label { -fx-text-fill: black; }


Label{
    -fx-text-fill: darkorange;
    -fx-font-family: 'Bebas Neue', cursive;
    -fx-font-size: 16px;
}

TextArea{
    -fx-text-fill: darkorange;
}